export CONSUL_HTTP_ADDR=https://sd.r3t.io
export CONSUL_HTTP_TOKEN=3d70007e-ce0b-6825-cbab-7af7906851d8
export CONSUL_HTTP_ACCESSOR=0d22f4b0-056a-e039-416b-d6a5462cec8f
export VAULT_ADDR="https://v.r3t.io"
export VAULT_READONLY_TOKEN="hvs.CAESIJA8DARddiVKHvHMQuNOmZ5RaW-9JRacAIFeQp56_FBSGh4KHGh2cy5kVzM0aGw0WjE2cnBGa3RacTJUWjZRbmw"
export PATH="$PATH:build/"
