**.tgz
**/*.db
**/test.log
**/tmp
*covprofile
.idea/shelf/
.idea/usage.statistics.xml
.idea/workspace.xml
/.ijwb/
bazel-bin
bazel-out
bazel-pleiades
bazel-testlogs
bin/
build/
ci/vars/**.sh
ci/vars/**.yaml
covprofile*
google/
node_modules/
package-lock.json
report.xml
vendor/
