<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>homebrew.mxcl.consul</string>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/homebrew/opt/consul/bin/consul</string>
		<string>agent</string>
		<string>-server</string>
		<string>-ui</string>
		<string>-datacenter</string>
		<string>dc1</string>
		<string>-data-dir</string>
		<string>/tmp/wraith</string>
		<string>-bind</string>
		<string>127.0.0.1</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/opt/homebrew/var/log/consul.log</string>
	<key>StandardOutPath</key>
	<string>/opt/homebrew/var/log/consul.log</string>
	<key>WorkingDirectory</key>
	<string>/opt/homebrew/var</string>
</dict>
</plist>
