[Unit]
Description="HashiCorp Consul - A service mesh solution"
Documentation=https://www.consul.io/

[Service]
ExecStart=/home/linuxbrew/.linuxbrew/bin/consul agent -server -ui -bootstrap-expect 1 -datacenter dc1 -data-dir /tmp/pleiades -bind 127.0.0.1
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGTERM
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
